footer.footer
	.up 
		a(href="#")
			i.sprite.sprite-up.toup
	.footerWrap
		.aboutUs
			h2 Shortly About Us
			p Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Suspendisse sollicitudin velit sed leo. 
		.contact
			h2 Contact Us
			i.sprite.sprite-phone
			p (123)-456-7890
			.clear
			i.sprite.sprite-mail
			p info@companyname.com
			.clear
			i.sprite.sprite-skype
			p skype.name
		.address
			i.sprite.sprite-position
			p 8901 Marmora Road,
				br 
				|Glasgow, D0489GR.
			.clear
			a(href="") Open in Google Maps
		.connect
			h2 Stay Connected
			a(href="")
				i.sprite.sprite-facebook.facebook
			a(href="")
				i.sprite.sprite-twitter.twitter
			a(href="")
				i.sprite.sprite-g_.g_
			a(href="")
				i.sprite.sprite-pinterest.pinterest
			a(href="")
				i.sprite.sprite-drible.drible
			a(href="")
				i.sprite.sprite-flick.flick
			a(href="")
				i.sprite.sprite-youtube.youtube
			a(href="")
				i.sprite.sprite-vimeo.vimeo
			a(href="")
				i.sprite.sprite-inst.inst
			a(href="")
				i.sprite.sprite-in.in
	.arr
		p © 2014 illusion. All Rights Reserved.