header.header
	.fixedTop
		.header__logo
			a(href="")
				p illusion
		span.header__menuButton
		nav
			ul.header__menu
				li
					a(href="")
						p Home
						.chevron
							i.sprite.sprite-chevron
					ul.subMenu
						li
							a(href="") 
								p Classic
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid with text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid without text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable masonry
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="") 
								p Single project pages
								.chevron
									i.sprite.sprite-chevron
				li
					a(href="")
						p Pages
						.chevron
							i.sprite.sprite-chevron
					ul.subMenu
						li
							a(href="") 
								p Classic
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid with text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid without text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable masonry
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="") 
								p Single project pages
								.chevron
									i.sprite.sprite-chevron
				li
					a(href="") 
						p Portfolio
						.chevron
							i.sprite.sprite-chevron
					ul.subMenu
						li
							a(href="") 
								p Classic
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid with text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid without text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable masonry
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="") 
								p Single project pages
								.chevron
									i.sprite.sprite-chevron
				li
					a(href="")
						p Blog
						.chevron
							i.sprite.sprite-chevron
					ul.subMenu
						li
							a(href="") 
								p Classic
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid with text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid without text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable masonry
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="") 
								p Single project pages
								.chevron
									i.sprite.sprite-chevron
				li
					a(href="") 
						p Features
						.chevron
							i.sprite.sprite-chevron
					ul.subMenu
						li
							a(href="") 
								p Classic
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid with text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid without text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable masonry
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="") 
								p Single project pages
								.chevron
									i.sprite.sprite-chevron
				li
					a(href="") 
						p Shortcodes
						.chevron
							i.sprite.sprite-chevron
					ul.subMenu
						li
							a(href="") 
								p Classic
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid with text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable grid without text
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="")
								p Sortable masonry
								.chevron
									i.sprite.sprite-chevron
						li
							a(href="") 
								p Single project pages
								.chevron
									i.sprite.sprite-chevron
		.header__search
			button.header__search_button
				i.sprite.sprite-search
			input.header__search_area(type="text")