@media screen and (max-width: 768px) {
	.header {
		.fixedTop {
			position: relative;
			max-width: 768px;
			justify-content: center;
		}
		.active {
			left: 0 !important;
			right: 50% !important;
		}
		.header__menu {
			padding: 2rem 0 0 2rem;
			display: block;
			position: fixed;
			top: 4.3rem;
			bottom: 0;
			right: -50%;
			transition: right 1s;
			background: #4EA6DD;
			border-radius: 5px;
			li {
				a {
					p {
						color: #fff;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
		.header__logo {
			margin-right: 20%;
		}
		.header__search {
			.header__search_area {
				margin-top: 0;
			}
		}
	}
	.masonryContainer {
		.grid {
			.grid-item {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}	
	}
	.mainContent__list {
		flex-flow: column;
	}
	/*----------------------------------mobileMenu-----------------------------------------*/
	.header .header__menuButton {
		margin-bottom: 1rem;
		padding: .6rem;
		position: absolute;
	    left: 1rem;
	    top: 1rem;
		border-top: 3px solid #41bedd;
		border-bottom: 3px solid #41bedd;
		display: block;
		height: 20px;
		width: 30px;
	}
	.header .header__menuButton::before {
		content: '';
		height: 3px;
		width: 30px;
		position: absolute;
		top: 6px;
		left: 0;
		background: #41bedd;
	}
	/*------------------------------------------end--------------------------------------------*/
	
	.mainContent .mainContent__list li:nth-of-type(1) a {
		border-radius: 5px; 
	}
	.mainContent .mainContent__list li a {
		border-right: 1px solid grey;
		border-bottom: 0;
		border-radius: 5px;
		text-align: center;
	}
	.mainContent .mainContent__list li:nth-of-type(5) a {
		
		border-bottom: 1px solid grey;
		border-radius: 5px;
	}
	.footer {
		.footerWrap {
			flex-flow: column;
			div {
				padding-left: 1rem !important;
				width: 100% !important;
				margin: 0 auto !important;
			}
		}
	}
	.banner {
		height: 450px !important;
		margin-bottom: 12.8rem !important;
		.banner__breadCrumbs {
			width: 100%;
			.banner__crumbs {
				justify-content: center;
				display: flex;
				flex-flow: wrap;
				li {
					margin-right: 1rem;
					a {
						font: 1.6rem/2.4rem "LatoRegular";
						color: #ecf0f1;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.banner {
		height: 300px;
	}
}